* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* cores do site */
    --black: #000000;
    --white: #ffffff;
    --light-grayish-orange: #e3d4c2;
    --grayish-orange: #d3bb9f;
    --slightly-desaturated-orange--light: #c8aa86;
    --slightly-desaturated-orange--dark: #b89163;
    --dark-moderate-orange--yellow-tone: #9f7748;
    --dark-moderate-orange-black-tone: #7d5e39;
    --very-dark-orange--brown-tone: #572f00;
  
    /* use "var()" nos lugares de cores e automaticamente vai puxar para escolher as cores de cima */
  }

    @font-face {
        font-family: "antic didone";
        src: url(../../Fonte/AnticDidone-Regular.ttf);
    }
  
    @font-face {
        font-family: "antic";
        src: url(../../Fonte/Antic-Regular.ttf);
    }

    @font-face {
        font-family: "antic slab";
        src: url(../../Fonte/AnticSlab-Regular.ttf);
    }


    body {
        background-color:#E3D4C2;
    }

    header {
        width: 100%;
        /* height: 7%; */
        top: 0;
        z-index: 50;
        overflow: hidden;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background-image: linear-gradient(to top, #C8AA86, #E3D4C2, #C8AA86);
        position: fixed;
        margin-right: auto;
        margin-left: auto;
    }

    header img {
        width: 180px;
        height: 60px;
    }

    header ul {
        list-style-type: none;
    }

    header li{
        display: inline-block;
    }

    header li button {
        font-size: 130%;
        text-decoration: none;
        color: #7D5E39;
        font-family: 'antic didone';
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
    }

    header li button:hover {
        font-size: 130%;
        text-decoration: none;
        color: #7D5E39;
        font-family: "antic didone";
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        text-decoration-line: underline;
        text-decoration-color: #7D5E39;
    }

    .spacec {
        max-width: 1350px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;
    }

    .conteiner {
        max-width: 1950px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quadro {
        width: 600px;
        height: 800px;
        margin-top: 6%;
        padding: 20px;
        position: relative;
        /* display: flex; */
        /* background-color: aqua; */
    }

    .quadro img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid #7D5E39;
    }

    .titulo {
        width: 560px;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    .titulo h1 {
        font-family: "antic didone";
        color: #572f00;
        display: flex;
        font-size: 38px;
    }

    .sup {
        width: 560px;
        height: 200px;
        display: flex;
        flex-direction: row;
    }

    .perfil {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .coluna1 {
        width: fit-content;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* background-color: red; */
    }

    .dado {
        padding-left: 30px;
        margin-bottom: 2px;
        position: relative;
    }

    .dado h3 {
        font-family: antic;
        color: #7D5E39;
    }

    .bloco1 {
        width: 330px;
        height: 20px;
        margin-left: 30px;
        margin-bottom: 8px;
        padding-left: 4px;
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #7D5E39;
        position: relative;
        background-color: #ffffff;
    }

    .bloco1 p {
        font-family: "antic slab";
        color: #000000;
    }
