/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ Lista de Fontes e Cores ------ */
/* cores */
:root {
  /* cores do site */
  --black: #000000;
  --white: #ffffff;
  --light-grayish-orange: #e3d4c2;
  --grayish-orange: #d3bb9f;
  --slightly-desaturated-orange--light: #c8aa86;
  --slightly-desaturated-orange--dark: #b89163;
  --dark-moderate-orange--yellow-tone: #9f7748;
  --dark-moderate-orange-black-tone: #7d5e39;
  --very-dark-orange--brown-tone: #572f00;

  /* cores do calendario */
  --very-dark-grayish-blue: #455054;
  --moderate-cyan: #4dbdc6;
  --grayish-orange-c: #d4cfc9;

  /* use "var()" nos lugares de cores e automaticamente vai puxar para escolher as cores de cima */
}

/* tipografia */
@font-face {
  font-family: "antic didone";
  src: url(../../Fonte/AnticDidone-Regular.ttf);
}

/* Cor de fundo */
body {
  background: var(--light-grayish-orange);
  overflow-x: hidden;
}

/* ------ Corpo (Cabecalho) ------ */
/* Pocisionamento (Fixo) */
header {
  width: 100%;
  position: fixed;
  z-index: 50;
}

/* Pocisionamento (Organizacao) */
header nav {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, #c8aa86, #e3d4c2, #c8aa86);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagem Logo */
header img {
  width: 180px;
  height: 60px;
}

/* Estilizacao Lista */
.nav-lista {
  list-style: none;
  display: flex;
}

/* Estilizacao Botoes */
header .nav-lista li button {
  padding: 0px 15px;
  font-size: 110%;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "antic didone";
  border: none;
  color: #7d5e39;
  background: transparent;
  cursor: pointer;
}

/* Estilizacao Botoes:hover */
header .nav-lista li button:hover {
  color: #7d5e39;
  text-decoration-line: underline;
  text-decoration-color: #7d5e39;
}

/* ------ Corpo Principal ------ */
.Corpo {
  padding-top: 70px;
  display: flex;
}

/* ------ Barra lateral para controle dos meses ------ */
.Barra-lateral {
  display: flex;
}

/* Mudança de Ano */
.Barra-lateral .Ano {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}

/* Lista com acesso aos meses do ano */
.Lista-Meses {
  width: max-content;
  height: 100%;
  background-color: var(--slightly-desaturated-orange--light);
  text-align: center;
}

.Lista-Meses .Ano {
  margin-top: 20px;
}

.Lista-Meses ul li {
  font-size: 1.24em;
  margin: 0 15px;
  padding: 0.7em ;
  list-style: none;
}

.Lista-Meses ul li label {
  cursor: pointer;
}

.Lista-Meses ul li label:active {
  text-decoration: underline var(--black);
}

.Lista-Meses ul li:first-of-type {
  margin-top: 1em;
}


embed {
  width: 18vw;
  min-width: 836px;
  height: 18.6vh;
  min-height: 836px;
}

.content {
  width: 800px;
  margin-left: 0vw;
  overflow-x: hidden;
}

.slides {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}

.content .slides input {
    display: none;
}

.slide {
  display: flex;
  transition: 0.6s;
}

/* ------ Movimentacao dos slides ------ */
/* janeiro */
#slide1:checked ~ .s1 {
  margin-left: 0%;
}
/* fevereiro */
#slide2:checked ~ .s1 {
  margin-left: -8.4%;
}
/* março */
#slide3:checked ~ .s1 {
  margin-left: -16.75%;
}
/* abril */
#slide4:checked ~ .s1 {
  margin-left: -25.08%;
}
/* maio */
#slide5:checked ~ .s1 {
  margin-left: -33.4%;
}
/* junho */
#slide6:checked ~ .s1 {
  margin-left: -41.75%;
}
/* julho */
#slide7:checked ~ .s1 {
  margin-left: -50.08%;
}
/* agosto */
#slide8:checked ~ .s1 {
  margin-left: -58.4%;
}
/* setembro */
#slide9:checked ~ .s1 {
  margin-left: -66.75%;
}
/* outubro */
#slide10:checked ~ .s1 {
  margin-left: -75.08%;
}
/* novembro */
#slide11:checked ~ .s1 {
  margin-left: -83.4%;
}
/* dezembro */
#slide12:checked ~ .s1 {
  margin-left: -91.75%;
}


/* ------ Area de reponsividade ------ */
/* botao de responsividade */
header .Menu {
  font-size: 45px;
  cursor: pointer;
  display: none;
  user-select: none;
}

header label[for="Menu"] img {
  width: 75px;
  height: 50px;
}

/* .Menu .chevron-right {
  animation: keyframes-rotate 0.5s backwards;
  transform: rotate(180deg);
} */

/* configuracao no checked */
/* .Menu input:checked ~ .chevron-right {
  animation: keyframes-return 0.5s backwards;
  transform: rotate(0deg);
} */

/* esconde o input*/
header input {
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

/* ------ Animacao ------ */
/* @keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
} */

@media (max-width: 450px) {
  header nav {
    justify-content: space-around;
  }
  .nav-lista {
    width: 60vw;
    height: 92vh;
    position: absolute;
    top: 70px;
    right: 0%;
    border-left: 0.5px solid var(--very-dark-grayish-blue);
    background: #d6b690;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease-in;
    overflow-x: hidden;
  }

  header .Menu {
    display: flex;
  }

  #Menu:checked ~ .nav-lista {
    right: -100%;
  }
}
